.container {
    max-width: 400px; 
    margin: auto; 
    padding: 20px; 
    border: 1px solid #ced4da; 
    border-radius: 8px; 
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2); 
    background-color: #fff; 
}

h2 {
    text-align: center; 
    margin-bottom: 20px; 
}

.btn-primary {
    margin-left: 80px;
    
    width: 50%; 
    transition: background-color 0.3s ease; 
}

.btn-primary:hover {
    background-color: #0056b3; 
    color: #fff; 
}
.form-label{
    font-weight: 600;
}
