<div class="container mt-5">
    <h2>Reset Password</h2>
    <form [formGroup]="resetPasswordForm" (ngSubmit)="onSubmit()">
      <div class="mb-3">
        <label for="newPassword" class="form-label">New Password</label>
        <input
          type="password"
          class="form-control"
          id="newPassword"
          formControlName="newPassword"
          placeholder="Enter your new password"
          required
          pattern="^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)(?=.*[@$!%*?&])[A-Za-z\d@$!%*?&]{8,20}" 
        />
        <div *ngIf="resetPasswordForm.get('newPassword')?.invalid && (resetPasswordForm.get('newPassword')?.touched || resetPasswordForm.get('newPassword')?.dirty)">
          <small class="text-danger" *ngIf="resetPasswordForm.get('newPassword')?.errors?.['required']">Password is required.</small>
          <small class="text-danger" *ngIf="resetPasswordForm.get('newPassword')?.errors?.['minlength']">Password must be at least 8 characters long.</small>
          <small class="text-danger" *ngIf="resetPasswordForm.get('newPassword')?.errors?.['pattern']">Password must contain at least one lowercase letter, one uppercase letter, one number, and one special character.</small>
        </div>
      </div>
  
      <div class="mb-3">
        <label for="confirmPassword" class="form-label">Confirm New Password</label>
        <input
          type="password"
          class="form-control"
          id="confirmPassword"
          formControlName="confirmPassword"
          placeholder="Confirm your new password"
        />
        <div *ngIf="resetPasswordForm.get('confirmPassword')?.invalid && (resetPasswordForm.get('confirmPassword')?.touched || resetPasswordForm.get('confirmPassword')?.dirty)">
          <small class="text-danger" *ngIf="resetPasswordForm.get('confirmPassword')?.errors?.['required']">Confirming password is required.</small>
        </div>
        <div *ngIf="resetPasswordForm.hasError('mismatch') && (resetPasswordForm.get('confirmPassword')?.touched || resetPasswordForm.get('confirmPassword')?.dirty)" class="text-danger">
          Passwords do not match.
        </div>
      </div>
  
      <button type="submit" class="btn btn-primary" [disabled]="resetPasswordForm.invalid">Submit</button>
    </form>
  </div>
  